@import "tailwindcss";

@theme {
  --color-primary-50: #f1efef;
  --color-primary-100: #d1cac9;
  --color-primary-200: #bab0ae;
  --color-primary-300: #97908f;
  --color-primary-400: #7b7676;
  --color-primary-500: #5f5858;
  --color-primary-600: #474040;
  --color-primary-700: #383231;
  --color-primary-800: #24201f;
  --color-primary-900: #171515;

  --color-blue-white: #fafafc;
  --color-accent-50: #e5e6f6;
  --color-accent-100: #b1b5da;
  --color-accent-200: #787eb3;
  --color-accent-300: #37326a;
  --color-accent-600: #2a274e;
  --color-accent-800: #1f1c3c;

  --radius-input: 10px;

  /* New colors */
  --color-custom-white: #fffdfc;
  --color-neutral-50: #fbfaf9;
  --color-neutral-100: #f5f2f0;

  --color-custom-red-100: #f2e9e9;
  --color-custom-red-100: #8f5454;
  --color-custom-red-500: #a85b5b;
  --color-custom-red-600: #6e3b3b;
  --color-custom-red-700: #522c2c;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-neutral-50);
  color: var(--color-primary-700);
  font-family: "Lexend", sans-serif;
}

@layer components {
  h1 {
    @apply text-3xl font-bold mb-4;
  }

  h3 {
	@apply text-lg font-semibold text-primary-700;
  }

  h4 {
	@apply font-semibold text-primary-700 mb-2;
  }

  .btn {
    @apply bg-accent-300 text-blue-white font-semibold py-2 px-4 m-2 rounded-lg hover:bg-accent-600;
	@apply disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-secondary {
	@apply  bg-accent-300 text-blue-white font-semibold py-2 px-4 m-2 rounded-md hover:bg-accent-600;
	@apply bg-primary-50 hover:bg-primary-100 hover:text-primary-700 text-primary-500 ml-0;
  }

  .inline-code {
    @apply bg-gray-100 px-1.5 rounded text-sm font-mono;
  }
  .code-block {
    @apply bg-slate-900 text-slate-100 p-4 rounded font-mono text-sm overflow-auto;
  }

  .card {
	@apply bg-custom-white border-primary-50;
	@apply p-4 rounded-lg shadow-xs border;
	@apply hover:shadow-md transition-shadow;
  }

  .text-input {
	@apply w-full px-3 py-2 shadow-inner;
	@apply  border-2 border-primary-50 rounded-lg focus:outline-none focus:ring-2 focus:ring-accent-100;
  }

  .error-toast-button {
	@apply bg-custom-red-600 hover:bg-custom-red-700 transition-colors px-3 py-1 rounded border border-custom-white/30 hover:border-custom-white/50 text-sm font-medium;
  }

  .spinner {
	@apply inline-block animate-spin rounded-full h-8 w-8 border-4 border-neutral-200 border-t-accent-600;
  }
}
