@import "tailwindcss";

@theme {
  --color-primary-50: #f1efef;
  --color-primary-100: #d1cac9;
  --color-primary-200: #bab0ae;
  --color-primary-300: #97908f;
  --color-primary-400: #7b7676;
  --color-primary-500: #5f5858;
  --color-primary-600: #474040;
  --color-primary-700: #383231;
  --color-primary-800: #24201f;
  --color-primary-900: #171515;

  --color-accent-50: #e5e6f6;
  --color-accent-100: #b1b5da;
  --color-accent-200: #787eb3;
  --color-accent-300: #37326a;
  --color-accent-600: #2a274e;
  --color-accent-800: #1f1c3c;

  --radius-input: 10px;

  /* New colors */

  --color-custom-white: #fffdfc;
  --color-neutral-50: #fbfaf9;
  --color-neutral-100: #f5f2f0;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-neutral-50);
  color: var(--color-primary-700);
  font-family: "Lexend", sans-serif;
}

@layer components {
  h1 {
    @apply text-3xl font-bold mb-4;
  }

  h3 {
	@apply text-lg font-semibold text-primary-600;
  }

  h4 {
	@apply font-semibold text-primary-600 mb-2;
  }

  .btn {
    @apply bg-accent-300 text-accent-50 font-semibold py-2 px-4 m-2 rounded hover:bg-accent-600 transition;
  }

  .inline-code {
    @apply bg-gray-100 px-1.5 rounded text-sm font-mono;
  }
  .code-block {
    @apply bg-slate-900 text-slate-100 p-4 rounded font-mono text-sm overflow-auto;
  }

  .card {
	@apply bg-custom-white border-primary-50;
	@apply p-4 rounded-lg shadow-xs border;
	@apply hover:shadow-md transition-shadow;
  }
}
