@import "tailwindcss";

@theme {
	--color-primary-50: #F1EFEF;
	--color-primary-100: #D1CAC9;
	--color-primary-200: #BAB0AE;
	--color-primary-300: #97908F;
	--color-primary-400: #7B7676;
	--color-primary-500: #5F5858;
	--color-primary-600: #474040;
	--color-primary-700: #383231;
	--color-primary-800: #24201F;
	--color-primary-900: #171515;

	--color-accent-50: #E5E6F6;
	--color-accent-100: #B1B5DA;
	--color-accent-200: #787EB3;
	--color-accent-300: #37326A;
	--color-accent-600: #2A274E;
	--color-accent-800: #1F1C3C;

	--radius-input: 10px;
}


#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


.html,
body {
	height: 100%;
	min-height: 100vh;
	margin: 0;
	background-color: #f9fafb;
	color: var(--color-primary-700);
  font-family: "Lexend", sans-serif;
}

@layer components {
	h1 {
		@apply text-3xl font-bold mb-4;
	}

  .btn {
    @apply bg-accent-300 text-accent-50 font-semibold py-2 px-4 m-2 rounded hover:bg-accent-600 transition;
  }
}